@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sacramento&display=swap');

body{
  margin: 0;
  text-align: center ;
}

h1{
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 625%;
  color: #11999E;

}

.top-Contaner{
  padding-top: 100px;
  background-color: #eaf6f6;
  position: relative;
  padding-top: 120px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 350px;
  ;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;

}

h3{
  font-family: "Sacramento", cursive;
  font-size: 312.5%;
}

h2{
  font-family: "Sacramento", cursive;
  font-size: 468.75%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}

p{
  font-family: "Sacramento", cursive;
  font-size: 187.5%;
  font-weight: normal;
}


.A{
  padding-top: 50px;
}

.bottom-container{
  background-color: #eaf6f6;
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.img{
  float: left;
  margin-right: 30px;
}


.imgs{
  float: right;
  margin-left: 30px;
}









